.FormReward {
    background-color: #ffffff;
    width: 100%;
    padding: 1.4rem 2rem;
}

@media (min-width: 576px) {
    .FormReward {
        padding: 2rem 4rem;
    }
    .ModalFormReward .modal-dialog {
        max-width: 680px;
    }
}

.FormReward .invalid-feedback {
    display: block !important;
}

.FormReward h2 {
    font-weight: 700;
    font-size: 22px;
}

[data-theme='dark'] .FormReward {
    background-color: #333;
}

@media screen and (min-width: 600px) {
    .AdminRewardContainer {
        border: 2px solid transparent !important;
    }
}

.AdminRewardHeader {
    background-color: transparent;
    padding-left: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 576px) {
    .AdminRewardHeader {
        padding: 2rem 1rem;
        background-color: #26a4ff;
        border-radius: 0.6rem;
        padding-left: 48px;
    }
}

.AdminRewardHeader h2 {
    font-size: 19px;
    font-weight: 700;
}

@media (min-width: 576px) {
    .AdminRewardHeader h2 {
        font-size: 22px;
    }
    .AdminRewardHeader {
        color: #fff;
    }
}

.AdminRewardContainer .back-arrow {
    position: absolute;
    left: 4px;
    border: none !important;
    background-color: transparent !important;
}

.AdminRewardContainer .back-arrow svg {
    top: 12px;
    width: 26px;
    height: auto;
}

@media (min-width: 576px) {
    .AdminRewardContainer .back-arrow {
        left: 20px;
        top: 15px;
    }
    .AdminRewardContainer .back-arrow svg {
        width: 30px;
        height: auto;
    }
    .AdminRewardContainer .back-arrow svg {
        color: #fff;
    }
}

/* [data-theme='dark'] .sub_category_chapter_ic_circle {
    background-color: #ffffff;
} */
