.FingoUserInfo {
    border-radius: 10px;
    background-color: #f7fcf7;
    border: 2px solid rgb(109 109 109 / 10%);
    margin-bottom: 1rem;
}

.FingoUserInfo .user-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.FingoUserInfo .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FingoUserInfo label {
    width: 44px;
    height: 44px;
    overflow: hidden;
    margin-bottom: 0;
    display: inline-block;
}

.FingoUserInfo label img {
    width: 44px;
    height: auto;
}

[data-theme='dark'] .FingoUserInfo {
    background-color: #2f2f2f;
}
