:root {
    --color-background: #f5f5f9;
    --color-scrollbar: rgb(224, 224, 224);
    --color-scrollbar-hover: #bbb;
}

.FingoShapeRadius {
    border-radius: 12px !important;
}

@media (min-width: 576px) {
    .FingoShapeRadius {
        border-radius: 16px !important;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--color-background);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--color-background);
    border-radius: 10px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    font-size: 24px;
    font-weight: 700;
    color: #444;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 28em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 16px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1rem;
}

[data-theme='dark'] div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: #3c3c3c;
}
[data-theme='dark'] div:where(.swal2-container) h2:where(.swal2-title) {
    color: #fbfbfb;
}
div:where(.swal2-container) button:where(.swal2-styled) {
    min-width: 100px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 7px !important;
    transition: all 0.2s ease 0s;
    font-weight: 700;
    margin-top: 4px;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: rgb(40, 167, 69) !important;
    border-color: rgb(40, 167, 69) !important;
    box-shadow: rgb(26, 89, 40) 0px 7px !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    background-color: rgb(221 51 51) !important;
    border-color: rgb(221 51 51) !important;
    box-shadow: rgb(154 25 25) 0px 7px !important;
}
