.FingoHomeLayout {
    padding-bottom: 78px;
}

.FingoHomeLayoutWrapper {
    padding-left: 0;
}

.FingoHomeLayoutContainer {
    padding: 1.1rem;
}

@media (min-width: 576px) {
    .FingoHomeLayoutWrapper {
        padding-left: 320px;
    }
    .FingoHomeLayoutContainer {
        padding: 2.5rem;
    }
}
