.FingoCardDayStreak {
    padding: 1rem;
    background-color: #fff5d4;
}

.FingoCardDayStreakInner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.FingoCardDayStreakInner .left {
    width: 25%;
    margin-left: -14px;
}

.FingoCardDayStreakInner .right {
    width: 75%;
}

.FingoCardDayStreak.highlight {
    background: rgb(255, 182, 1);
    background: -moz-linear-gradient(
        283deg,
        rgba(255, 182, 1, 1) 0%,
        rgba(255, 148, 1, 1) 35%
    );
    background: -webkit-linear-gradient(
        283deg,
        rgba(255, 182, 1, 1) 0%,
        rgba(255, 148, 1, 1) 35%
    );
    background: linear-gradient(
        283deg,
        rgba(255, 182, 1, 1) 0%,
        rgba(255, 148, 1, 1) 35%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb601",endColorstr="#ff9401",GradientType=1);
}

.FingoCardDayStreak h4 {
    font-weight: bold;
    margin-bottom: 0.65rem;
}

.FingoCardDayStreak.highlight h4 {
    color: #ffff;
}

.FingoCardDayStreak p {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}

.FingoCardDayStreak.highlight p {
    color: #ffff;
}

.FingoCardDayStreakImg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.FingoCardDayStreakImg img {
    width: 90%;
    height: auto;
}

.FingoCardDayStreakWrapper {
    padding-left: 0;
}

.FingoCardDayStreakContainer {
    padding: 1.1rem;
}

@media (min-width: 576px) {
    .FingoCardDayStreakWrapper {
        padding-left: 280px;
    }
    .FingoCardDayStreakContainer {
        padding: 2.5rem;
    }
}

.FingoCardDayStreakCalendar {
    width: 100%;
    background-color: #ffff;
    border-radius: 0.4rem;
    padding: 1rem 0.8rem;
}

.FingoCardDayStreakCalendar ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.FingoCardDayStreakCalendar li {
    display: flex;
    width: 14.2%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FingoCardDayStreakCalendar li a {
    text-decoration: none;
    user-select: none;
    color: #00a7ff;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FingoCardDayStreakCalendar li p {
    text-transform: uppercase;
    font-weight: 700;
    /* color: #5f5f5f; */
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.FingoCardDayStreakCalendar li svg {
    width: 16px;
    height: auto;
}
.FingoCardDayStreak.highlight .FingoCardDayStreakCalendar li p {
    color: #575757;
}
.FingoCardDayStreakCalendar li p.active {
    color: #ff9601 !important;
}

.FingoCardDayStreakCalendar li a {
    background-color: #e5e5e5;
}

.FingoCardDayStreak.highlight .FingoCardDayStreakCalendar li a.active {
    background-color: #ff9601;
}

.FingoCardDayStreakCalendar li.active svg {
    color: #fff;
    fill: #fff;
}

.FingoCardDayStreakCalendar li.active svg path {
    color: #fff;
    fill: #fff;
}
