.RewardDetail .FingoWaves {
    color: #00b65f;
}

.RewardDetail .FingoWaves > div {
    background-color: #00b65f;
    height: 180px;
}

.RewardDetail .FingoWaves > svg {
    margin-top: -3px;
}

@media (min-width: 576px) {
    .ModalRewardDetail .modal-dialog {
        max-width: 500px;
    }
    .RewardDetail .FingoWaves > div {
        height: 220px;
    }
}

.RewardDetail {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.RewardDetail .HeaderTitle {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 28px;
}

@media (min-width: 576px) {
    .RewardDetail {
    }
}

.RewardDetail h2 {
    font-weight: 700;
    font-size: 22px;
}

@media (min-width: 576px) {
    .ModalRewardDetail .ListReward {
    }
}

[data-theme='dark'] .ModalRewardDetail .RewardDetail {
    background-color: #383838;
}

.RewardDetailContent {
    margin-top: -188px;
    display: flex;
    align-self: center;
    width: 280px;
    flex-direction: column;
    padding-bottom: 40px;
}

@media (min-width: 576px) {
    .RewardDetailContent {
        width: 400px;
        margin-top: -260px;
    }
}

.RewardDetailContent h6 {
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}

[data-theme='dark'] .RewardDetailContent h6 {
    color: #d6d6d6;
}

.RewardDetailContent p {
    font-size: 0.9rem;
    font-weight: 500;
}

.RewardDetailImg {
    overflow: hidden;
    margin-bottom: 1.2rem;
    border: 2px solid rgb(109 109 109 / 10%);
}

.RewardDetail img {
    width: 100%;
    height: auto;
}

.RedeemSuccess {
    text-align: center;
}

.RedeemSuccess h2 {
    font-size: 20px;
    font-weight: 700;
}

.RedeemCode {
    font-weight: bold;
    background: #fff4cc;
    border-radius: 8px;
    padding: 3px 10px;
    border: 2px dashed #ff8600;
}

.RedeemCode code {
    color: #d04f00;
    font-size: 28px;
}

.RedeemSuccess h6 {
    font-size: 18px;
    font-weight: 500;
}

[data-theme='dark'] .RedeemCode {
    background: #2b2616;
}

[data-theme='dark'] .RedeemCode code {
    color: #fff;
}

.RewardDetailRedeemText {
    font-size: 18px !important;
    font-weight: 700 !important;
    text-align: center;
}

.RewardDetailLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid rgb(109 109 109 / 10%); */
}

.RewardDetailLogo p {
    font-weight: 700;
}

.RewardDetailLogo img {
    margin-right: 0.4rem;
    width: 32px;
    height: auto;
}

.RewardDetailCurrency {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2f8e6;
    color: #00753c;
    border-radius: 1.4rem;
    padding: 0.4rem 1rem;
}

[data-theme='dark'] .RewardDetailCurrency {
    background-color: #2f3734;
    color: #9fcdb7;
}

.RewardDetailCurrency p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
