.sub_category_card_container_root {
    /* background-color: #ffffff; */
}
.sub_category_card_container {
    background-color: #f9fdf3;
    border-radius: 0.65rem;
    border: 2px solid #333;
    padding-bottom: 4rem;
}

@media screen and (max-width: 600px) {
    .sub_category_card_container {
        border: 2px solid transparent !important;
    }
}

[data-theme='dark'] .sub_category_card_container {
    background-color: #31332e;
}

.sub_category_card_container .back-arrow {
    border: none !important;
    background-color: transparent !important;
    margin-left: 1.5rem;
    margin-top: 1rem;
    padding: 4px 12px;
}
.sub_category_card_container .back-arrow svg {
    width: 40px;
    height: auto;
    color: #505050;
}

.sub_category_card_item_container {
    margin-bottom: 1.5rem;
}

.sub_category_card_item_container h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sub_category_chapter_icon_container {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.sub_category_chapter_icon_container:hover {
    transform: translateY(5px);
}

div[class^='sub_category_chapter_icon'] {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: auto;
    margin-bottom: 0.2rem;
}

/* [data-theme='dark'] div[class^='sub_category_chapter_icon'] {
} */

div[class^='sub_category_chapter_icon'] img {
    width: 100px;
    height: auto;
}

.sub_category_chapter_icon-complete svg path {
    color: #ffdc5c;
    fill: #ffdc5c;
}

.sub_category_chapter_icon-incomplete svg path {
    color: #fff7d8;
    fill: #fff7d8;
}

.sub_category_chapter_ic_circle {
    content: '';
    position: absolute;
    top: 0;
    top: 5px;
    width: 78px;
    height: 78px;
    border-radius: 50px;
    background-color: #212121;
}

[data-theme='dark'] .sub_category_chapter_ic_circle {
    background-color: #ffffff;
}
